h5
  '修改账户


== render 'form'

/ small.float-right
= link_to '返回账户列表', accounts_path
/ .card
/   .card-body
/     - if @account.errors.any?
/       #error_explanation
/         h2 = "#{pluralize(@account.errors.count, "error")} 创建异常"
/         ul
/           - @account.errors.full_messages.each do |message|
/             li = message
/     = form_for @account, url: update_account_path(@account.id) do |f|
/       == render partial: 'accounts/form_base', locals: {f: f}


