/ h5
/   ' 账户钱包管理
/   small
/     ' --- 当前账户id：
/   small.bg-info
/     ' #{@account.id}
/   small
/     '--- 账户号码：
/   small.bg-info
/     '#{@account.uin}
/   small.float-right
/     = link_to '添加支付渠道', new_wallet_account_path
/
/ == render 'wallets/table'
/
/
/ =< link_to '返回账户列表', accounts_path
